* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//primary colors//
$redColor: hsl(0, 78%, 62%);
$cyanColor: hsl(180, 62%, 55%);
$orangeColor: hsl(34, 97%, 64%);
$blueColor: hsl(212, 86%, 64%);
//neutral colors//
$veryDarkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0, 0%, 98%);

//fonts and font weight//
$font-family: "Poppins", sans-serif;
$font-size: 15px;
$fw-head: 600;
$fw-body: 400;
$fw-para: 200;

body {
  //background-color: $grayishBlue;
  font-family: $font-family;
  font-size: $font-size;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 70px;
  text-align: center;
  line-height: 1.5;
}

header h1,
span {
  font-size: 27px;
}

header span {
  color: $grayishBlue;
  font-weight: $fw-body;
}

header h1 {
  color: $veryDarkBlue;
  font-weight: $fw-head;
}

header p {
  margin: 25px auto;
  width: 100%;
  font-size: 1.2rem;
  max-width: 555px;
  color: $grayishBlue;
  text-align: center;
}

.cards {
  margin-top: 75px;
}

.cards .card {
  background-color: $veryLightGray;
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
  border-top: 5px solid transparent;
  box-shadow: 0px 0px 10px $grayishBlue;
  border-radius: 10px;
  margin: 0 auto 25px auto;
}
.cards .card:first-child {
  border-color: $cyanColor;
}
.cards .card:nth-child(2) {
  border-color: $redColor;
}
.cards .card:nth-child(3) {
  border-color: $orangeColor;
}
.cards .card:last-child {
  border-color: $blueColor;
}
.cards .card > h3 {
  margin: 25px;
  color: $veryDarkBlue;
  font-weight: $fw-head;
}

.cards .card > p {
  margin: 0 25px 25px 25px;
  color: $grayishBlue;
  line-height: 1.5;
  word-spacing: 1px;
  font-size: 0.875rem;
}

.cards .card > img {
  display: block;
  margin-left: auto;
  padding: 0 25px 25px 0;
}

//media queries, responsiveness//
@media (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .cards .card:nth-child(3) {
    position: absolute;
    margin-left: 25rem;
    margin-top: 16.5rem;
  }
  .cards .drop {
    transform: translateY(50%);
  }
  footer {
    margin-top: 17rem;
  }
}

@media (min-width: 1440px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid: row gap 50px;
  }

  .cards .card:nth-child(3) {
    position: absolute;
    margin-left: 29.25rem;
    margin-top: 18rem;
  }
  .cards .drop {
    transform: translateY(50%);
  }
  footer {
    margin-top: 17rem;
  }
}

//start of normal screen sizes ansd widths
@media (min-width: 567px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1320px;
  }
}

//end of normal screen sizes

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
